{% extends 'store/adminpages/adminmain.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="box-element">

            <form class="form" method="post" action="{% url 'adminaddproduct' %}" enctype="multipart/form-data">
                <div class="form-group ">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock content %}