{% extends 'store/main.html' %}
{% load static %}
{% block content %}
Welcome
<strong>{{user.first_name}},</strong>
<br />
<div class="row">

     {% for product in products %}
     <div class="col-lg-4">
          <img class="thumbnail" src="{{product.image.url}}">
          <div class="box-element product">
               <h6><strong>{{product.name}}</strong></h6>
               <hr>
               <button data-product={{product.id}} data-action="add"
                    class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
               <a class="btn btn-outline-success" href="#">View</a>
               <h4 style="display: inline-block; float:right;"><strong>&#x20B9;{{product.price|floatformat:2}}</strong>
               </h4>

          </div>
     </div>
     {% endfor %}
</div>
<div class="row justify-content-center">
     {% if products.has_other_pages %}
     <ul class="pagination">
          {% if products.has_previous %}
          <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
          {% else %}
          <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in products.paginator.page_range %}
          {% if products.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if products.has_next %}
          <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
     </ul>
     {% endif %}
</div>


{% endblock content %}